body {
    background-color:white;
}

div.piano ul {
    width: 480px; /*40px per key*/
    height: 200px;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
    vertical-align: bottom;
    box-shadow:0px 0px 0px 2px grey inset;
}

.note_0 {
    /** C */
    width:60px;
    height:auto;
    position:relative;
    top:0px;
    left:0px;
    vertical-align: text-bottom;
}

.note_1 {
    /** C sharp */
    width:40px;
    max-height:50%;
    position:relative;
    top:-100%;
    left:40px;
    z-index:1000;
}

.note_2 {
    /** D */
    width:80px;
    position:relative;
    top:-150%;
    left:60px;
}

.note_3 {
    /** D sharp */
    width:40px;
    max-height:50%;
    position:relative;
    top:-250%;
    left:121px;
    z-index: 1000;
}

.note_4 {
    /** E */
    width:60px;
    position:relative;
    top:-300%;
    left:140px;
}

.note_5 {
    /** F */
    width:60px;
    position:relative;
    top:-400%;
    left:200px;
}

.note_6 {
    /** F sharp */
    width:40px;
    max-height:50%;
    position:relative;
    top:-500%;
    left:240px;
    z-index: 1000;
}

.note_7 {
    /** G */
    width:80px;
    position:relative;
    top:-550%;
    left:260px;
}

.note_8 {
    /** G sharp */
    width:40px;
    position:relative;
    top:-650%;
    max-height: 50%;
    left:320px;
    z-index: 1000;
}

.note_9 {
    /** A */
    width:80px;
    position:relative;
    top:-700%;
    left:340px;
}

.note_10 {
    /** A sharp */
    width:40px;
    position:relative;
    top:-800%;
    max-height:50%;
    left:400px;
    z-index: 1000;
}

.note_11 {
    /** B */
    width:60px;
    position:relative;
    top:-850%;
    left:420px;
}

li.played.white {
    color: white;
    background: red;
    height: 200px;
}

li.black span.note_name {
    /** nudge black note off top */
    position: relative;
    top: 10px;
}

li.white span.note_name {
    /** push white note names to bottom */
    position: relative;
    top: 170px;
}

li.silent.white {
    color:black;
    background: white;
    height:200px;
}

li.played.black {
    color: white;
    background: #964747;
    height: 200px;
}

li.silent.black {
    color:white;
    background: black;
    height:200px;
}
